// fonts
$font-main: "Roboto", sans-serif;
$font-title: "Roboto Slab", serif;

// colors
$primary-bg-color: #304268;
$secondary-bg-color: #eff9ff;
$statement-color: #f26002;
$primary-text-color: black;
$secondary-text-color: white;
$tertiary-text-color: #4a4a4a;
$small-text-color: #8ccbea;
$menu-color: #0271bc;
