/*FOOTER*/

.footer {
  background-color: $primary-bg-color;
  color: $secondary-text-color;
  font-family: $font-main;
  font-size: 14px;
  line-height: 30px;
  /*text-align: center;*/
  gap: 20px;
  padding-bottom: 40px;
}

.footer-button {
  text-align: center;
}

.footer-button-details {
  height: 45px;
  width: 45px;
  border-radius: 25px;
  border-style: none;
  background-color: white;
  transform: translateY(-50%);

}

.footer-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;

  @media all and (min-width: 768px) {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 100px;

    .nav1 {
      order: 2;
    }
    .nav2 {
      order: 3;
    }
    .copy {
      order: 1;
    }
  }

  @media all and (min-width: 1280px) {
    justify-content: center;

    .nav1 {
      margin-left: 50px;
    }

    .nav2 {
      margin-left: 50px;
    }
  }
}

.nav1-link,
.nav2-link {
  text-decoration: none;
  color: $secondary-text-color;
  font-size: 16px;
  text-transform: uppercase;
}

.footer-heart {
  color: $statement-color;
  font-size: 20px;
}
