/*SECTION 1*/

.section1 {
  padding: 15px;

  @media all and (min-width: 768px) {
    padding-left: 39px;
    padding-right: 39px;
  }

  @media all and (min-width: 1280px) {
    padding-left: 275px;
    padding-right: 275px;
  }
}

.section1-small {
  margin-top: 35px;
  margin-bottom: 5px;
  font-family: $font-main;
  font-size: 14px;
  color: $small-text-color;
  text-transform: capitalize;
  line-height: 30px;

  @media all and (min-width: 768px) {
    margin-top: 15px;
  }

  @media all and (min-width: 1280px) {
    font-size: 16px;
    margin-top: 40px;
  }
}

.section1-title {
  font-family: $font-title;
  font-size: 24px;
  text-transform: capitalize;
  line-height: 30px;

  @media all and (min-width: 768px) {
    font-size: 26px;
    line-height: 45px;
  }

  @media all and (min-width: 1280px) {
    font-size: 32px;
  }
}

.section1-paragraph {
  font-family: $font-main;
  color: $tertiary-text-color;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 30px;

  @media all and (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.section1-button {
  height: 45px;
  width: 75px;
  border-radius: 50px;
  border-color: $statement-color;
  border-style: solid;
  background-color: white;
  font-family: $font-main;
  font-weight: 500;
  font-size: 20px;
  color: $statement-color;
  margin-bottom: 25px;

  transition-duration: 0.4s;

  @media all and (min-width: 768px) {
    width: 90px;
    margin-bottom: 42px;
  }

  @media all and (min-width: 1280px) {
    width: 160px;
    margin-bottom: 45px;
  }
}

.section1-button:hover {
  box-shadow: 0 0 20px;
  transform: scale(1.1);
}
.section1-button:active {
  background-color: $statement-color;
  color: white;
}
