/*SECTION 1*/

.section1 {
  height: 60vh;
  padding: 15px;
}

.section1-small {
  margin-top: 35px;
  font-family: $font-main;
  font-size: 14px;
  color: $small-text-color;
  text-transform: capitalize;
  line-height: 30px;
}

.section1-title {
  font-family: $font-title;
  font-size: 24px;
  text-transform: capitalize;
  line-height: 30px;
}

.section1-paragraph {
  font-family: $font-main;
  color: $tertiary-text-color;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.section1-button {
  height: 40px;
  width: 70px;
  border-radius: 20px;
  border-color: $statement-color;
  background-color: white;
  font-family: $font-main;
  font-weight: 500;
  font-size: 20px;
  color: $statement-color;
}
