.section2 {
  background-color: $secondary-bg-color;
  padding: 15px;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  
  
  

  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.section2-title {
  font-family: $font-title;
  font-size: 24px;
  text-transform: capitalize;
  line-height: 30px;
  margin-top: 10px;
  /*margin-bottom: 10px;*/

  @media all and (min-width: 768px) {
    font-size: 26px;
    grid-column-start: 1;
    grid-column-end: 4;
    
  }

  @media all and (min-width: 1280px) {
    font-size: 32px;
  }
  
}

.section2-reasons-title {
  font-family: $font-title;
  font-size: 18px;
  line-height: 30px;

  @media all and (min-width: 768px) {
    font-size: 24px;
  }
 
  @media all and (min-width: 1280px) {

  }
}

.section2-reasons-paragraph {
  font-family: $font-main;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;

  @media all and (min-width: 768px) {
    font-size: 20px;
    margin-top: 5px;
  }

  @media all and (min-width: 1280px) {

  }
}

.section2-button {
  height: 45px;
  width: 180px;
  border-radius: 25px;
  font-family: $font-main;
  font-weight: 500;
  font-size: 20px;
  color: $secondary-text-color;
  background-color: $statement-color;
  border-style: none;
  margin-top: 30px;
  margin-bottom: 40px;

  @media all and (min-width: 768px) {
    width: 210px;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  @media all and (min-width: 1280px) {
    width: 255px;
  }
}